.bank-list{
  text-align: right !important;
}
#searchIndonesia{
  display: none;
}
.btn-search-indoensia{
  position: absolute; 
  right: 15px;
  top: 0;
}
.tab-pane{
  padding-top: 20px;
  padding-bottom: 20px;
}
.relative{
  position: relative;
}
.separator{
  position: absolute;
  right: 49%;
  font-size: 22px;
  color: #CCCCCC;
}
textarea{
  resize: none;
}
.no-margin{
  margin: 0;
}
.control-label{
  text-align: left;
  font-size: 13px;
}
.nav-tabs li a{
  color: #000;
}
.nav-tabs li.active a{
  font-weight: bold;
}
span.select2{
  width: 100%;
}
.select2-container--default .select2-selection--single {border-radius: 0px !important}
.select2-container .select2-selection--single {height: 35px !important;}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #3c8dbc !important;
    border-color: #367fa9 !important;
    color: #fff !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff !important;
}
.select2-container--default .select2-selection--single {border-radius: 0px !important}
.select2-container .select2-selection--single {height: 35px !important;}
#table-taskjob .id , #table-taskjob .created_at , #table-taskjob .updated_at , #table-taskjob .deleted_at , #table-taskjob .id_user , #table-taskjob .start_pekerjaan , #table-taskjob .end_pekerjaan , #table-taskjob .id_request , #table-taskjob .id_task_user{
    display:none;
}
.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}
.cube1, .cube2 {
  background-color: #f39c12;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}
.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}
@keyframes sk-cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}